<a href="https://colab.research.google.com/github/hudsonhorta/awari_ds_unidade6_manipulacao_dados/blob/main/manipulacao_dados_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importa bibliotecas necessárias
import pandas as pd
import re

#função para extrar area usando split
def extrair_area(entrada):
  if 'm²' in entrada:
    area = entrada.split(sep=' m²')[0]
  else:
    area = np.nan
  return area

#função para extrair quartos usando regex
def extrair_quarto(entrada):
  padrao = '(\d+)' 

  if 'quarto' in entrada:
    quarto = re.findall(padrao, entrada)[1]
  else:
    quarto = np.nan
  return quarto

#url do arquivo csv com os dados do mercado livre extraidos na aula anterior
url = 'https://raw.githubusercontent.com/cassiasamp/calculadora-de-imoveis-mar-21/main/coleta_de_dados/dados_mercado_livre.csv'

#ler arquivo csv e coloca dentro de um dataframe
df_ml = pd.read_csv(url, thousands='.')

#transforma coluna aluguel em float
df_ml['aluguel'] = df_ml['aluguel'].astype(float)

#chama as funções criando novas colunas usando apply para chamar as funções
df_ml['area'] = df_ml['area_quarto'].apply(extrair_area).astype(float)
df_ml['quarto'] = df_ml['area_quarto'].apply(extrair_quarto).astype(float)

#apaga a coluna area_quarto
df_ml = df_ml.drop('area_quarto', axis=1)

#salva em um arquivo csv o resultado
df_ml.to_csv('dados_tratados_ml.csv', index=False)

df_ml.head()

   aluguel zona  area  quarto
0   1000.0  sul  48.0     2.0
1   1200.0  sul  67.0     3.0
2   1300.0  sul  65.0     2.0
3   1280.0  sul  65.0     2.0
4   1100.0  sul  50.0     2.0